PORT=3000

# API key à passer dans le header x-api-key
MAIL_API_KEY=wYOh9ufB+6P17chafCsCrcbS/e/Wb1x9CbtiaqHCFGkCQVLZ5LBgZHnCPeH3CFKHPWryZfkPbqLMg9hp/TXrWQ==

# Brevo SMTP (récupérable dans SMTP & API > SMTP)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-brevo-login@smtp-brevo.com
SMTP_PASS=your-brevo-smtp-key

MAIL_FROM="Facturly <no-reply@tondomaine.com>"